
* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
}
h1 {
    margin: 0;
}
/* .container {
    max-width: 1440px;;
} */
.header__title {
    font-size: 155px;
    color: rgb(8, 8, 83);
    background-color: rgb(247 213 213);
    line-height: 2;
    position: relative;
    padding-left: 50px;
    box-shadow: 0px 0px 30px;
    margin-bottom: 100px;
}
.header__icon {
    position: absolute;
    top: 65px;
    right: 175px;
    width: 150px;
}
.header__icon--notes {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 70px;
}
/* .title {
    margin: 0px auto;
} */
.title__logo {
    position: absolute;
    font-size: 80px;
    color: rgba(143, 143, 143, 0.333);
    top: 210px;
    left: 165px;
    opacity: 0;
}
.title__logo:hover {
    transition: 2s;
    opacity: 1;
}
.title__logo--second {
    font-size: 80px;
    color: rgba(143, 143, 143, 0.333);
    text-align: center;
}
.title__text {
    text-align: center;
    font-size: 24px;
    color: rgb(8, 8, 83);
}
.title__img {
    display: block;
    margin: 0px auto;
    width: 70px;
    margin-bottom: 50px;
}
.title__img:hover {
    width: 75px;
    margin-bottom: 45px;
}
.form {
    width: 900px;
    text-align: center;
    margin: 0px auto 100px auto;
    padding: 50px;
    background-color: rgb(191, 245, 189);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(92, 90, 90);
}
.form__title {
    text-align: center;
}
.form__text {
    text-align: center;
}
.form__img {
    width: 130px;
    margin-bottom: -60px;
}

.form__input {
    width: 120px;
    opacity: 0;
    margin-left: -120px;
}
.form__btn {
    width: 150px;
    background-color: rgb(8, 8, 83);
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
}
.form__btn:hover {
    background-color: rgb(7, 215, 0);
    color: rgb(5, 84, 154);
    border: 2px solid rgb(5, 84, 154);
}
input {
    border-radius: 5px;
    border: 1px solid rgb(92, 90, 90);
    padding: 50px 0px;
}
::placeholder {
    text-align: center;
    background-color: #fff;
}
h3 {
    text-align: center;
    color: rgb(8, 8, 83);
    margin-bottom: 50px;
    font-size: 24px;
}
.notates {
    width: auto;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(247 213 213);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.notates__logo  {
    width: 50px;
    margin-left: 20px;
}
.notate {
    background-color: #fff;
    padding: 5px;
    border: 7px solid rgb(192, 191, 191);
    margin: 20px 5px;
    border-radius: 7px;
}
.notate:hover {
    transition: 0.3s;
    box-shadow: 3px 3px 3px 3px rgba(165, 165, 165, 0.364);
    border: 7px solid rgba(165, 165, 165, 0.364);
}
.notate__text {
    padding: 25px;
}
.notate__btn {
    width: 100px;
    background-color: rgb(8, 8, 83);
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 5px;
}
.notate__btn:hover {
    background-color: rgb(230, 223, 6);
    color: rgb(8, 8, 83);
}
.notate__title, .notate__text {
  position: relative;
}
.notate__title[contenteditable="true"],
.notate__text[contenteditable="true"]{
    border: 1px solid rgb(71, 63, 63);
    border-radius: 2px;
}

.notate__title[contenteditable="true"]::after,
.notate__text[contenteditable="true"]::after{
    content: '';
    width: 18px;
    height: 18px;
    background: url(/images/noto_pen.svg);
    background-size: 15px;
    background-position: center;
    position: absolute;
    right: 5px;
    top: 5px;
}
.add {
  width: 200px;
  height: auto;
  position: absolute;
  top: 420px;
  right: 300px;
  background-color: rgb(251, 246, 242);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(87, 87, 87);
  display: none;
}
.add__img {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid rgba(45, 45, 45, 0.29);
  border-radius: 3px;
}
.add__img:hover {
  background-color: rgb(176, 176, 176);
  border-radius: 2px;
}






