@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
h2:hover {
    font-size: 17px;
    text-shadow: 2px 3px 6px #f78cb8;
}
.menu_button {
    width: 45px;
    transform: (0,5s);
}
.menu_button span {
    background-color: #fff;
    width: 100%;
    height: 7px;
    border-radius: 10%;
    margin: 4px 0 8px 0;
    display: block;
    transform: (1s);
}
.menu_button span:hover {
    box-shadow: 10px 10px 16px rgb(247, 116, 203);
}
header {
    background: url(../image/4593141-svetlyy-fon-tekstury-full-hd\ 1.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.head_line {
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 104px;
}
.head_line img:hover {
    transform: rotate(360deg);
    transition: 1s;
}
h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-align: center;
    margin: 153px 0 12px 0;
    color: #000;
}
.page_title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000;
    margin: 0 290px 0 290px;
}
.first_button {
    display: block;
    width: 230px;
    height: 50px;
    margin: 44px auto 160px auto;
    border: 3px solid #FFFFFF;
    background: transparent;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.54);
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}
.first_button:hover {
    background-color: #f7a0c4;
    transform: translate(2%,2%);
    width: 233px;
    height: 52px;
    box-shadow: 4px 8px 16px rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.726);
}
.second_button {
    color: black;
    background: transparent;
    border: none;
    height: 25px;  
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 33px;
    transform: translateX(-50%);
    transition: 0.2s;
    font-size: 13px;
}
.second_button:hover {
    text-shadow: 6px 10px 16px rgba(255, 255, 255, 0.835);
    height: 27px;
    font-weight: 700;
    cursor: pointer;
}
.second_button span {
    margin-left: 9px;
    cursor: pointer;
}
.text_services {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin: 63px 0 63px 0;
    text-align: center;
    transform: (1s);
}
.text_services:hover {
    font-size: 49px;
}
.services-section {
    background: #E9E9E9;
}
.service {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.service img {
    max-width: 369px;
}
.text_sub {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #000000;
    display: block;
    text-align: center;
    margin: 18px 0;
}
.text_sub1 {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.09em;
    color: #000000;
    padding: 0 61px;
}
.services_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 369px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    transform: (1s);
}
.services_item:hover {
    box-shadow: 5px 8px 16px rgba(0, 0, 0, 0.418);
}
.services_item img {
    display: block;
    margin: 0 auto;
}
.button_service {
    width: 160px;
    height: 50px;
    background: #90E6D1;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.09em;
    color: #000;
    display: block;
    margin: 17px 0;
    transform: (1s);
}
.button_service:hover {
    width: 162px;
    height: 51px;
    background: #f7faf9;
    font-weight: 600;
    border: 3px solid #71b4a3;
    transform: translate(3%,3%);
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.609);
    cursor: pointer;
}